<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="css/style.css" rel="stylesheet" th:href="@{/web/css/style.css}">
    <title>Xác nhận tài khoản</title>
</head>
<body>
<div class="container-fluid">
    <h3>Vui lòng nhập code để xác nhận tài khoản</h3>
    <div class="col-5">
        <form th:action="@{/confirm-account}" method="post">
            <input type="text" name="confirmCode" placeholder="Code xác nhận tài khoản" class="form-control mb-3">
            <input type="hidden" name="userId" th:value="${userId}" class="mb-3">
            <p style="color: red; font-size: smaller" th:utext="${message} ? ${message}"></p>
            <button type="submit" class="btn btn-success">Xác nhận</button>
        </form>
    </div>
</div>
</body>
</html>