<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quên mật khẩu</title>
    <link href="css/style.css" rel="stylesheet" th:href="@{/web/css/style.css}">
</head>
<body>
<div class="container-fluid mt-3">
    <div class="col-12">
        <th:block>
            <div th:if="${message} != null" class="alert alert-info" th:utext="${message}">
                <i class="fa-fw fa fa-check"></i>
            </div>
        </th:block>
    </div>
    <h3>Vui lòng nhập email đã đăng ký để nhận mật khẩu</h3>
    <div class="col-5">
      <form th:action="@{gui-mail-quen-mat-khau}" method="post">
            <input type="email" placeholder="Email" class="form-control" name="mailForgot" id="forgotPass" required>
            <button type="submit" class="btn btn-success mt-3">Gửi</button>
            <a class="btn btn-primary mt-3" href="/dang-nhap">Đăng nhập</a>
        </form>
    </div>
</div>
</body>
</html>